/* Définition des variables CSS*/
:root{
    --primary-color: #c80000; 
    --secondary-color-regular: #666;
    --secondary-color-light: #ccc;
    --light-color: #ffe;
}

/* Importation de la police dans le CSS */
*{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
}

a{
    text-decoration: none;
}

header,
.figurines__addtocart,
.figurines__reduction,
.reduction,
footer{
    color: var(--light-color);
}

footer,
header h2{
    background-color: var(--secondary-color-regular);
}

h3{
    font-weight: 700;
    font-size: 1.5rem;
}

header{
    /* On veut que tout le header reste visible même en scrollant */
    z-index: 2;
    position: sticky;
    width: 100%;
    top: 0;
    left: 0;
}

main{
    padding: 1.5rem 0;
}

footer{
    text-align: center;
    padding-bottom: 0.5rem;
}

header h1{
    background-color: var(--primary-color);
    padding: 1rem;
    font-size: 2rem;
    font-weight: 700;
}

header h2{
    padding: 0.5rem;
    text-align: center;
    font-size: 1.5rem;
}

.shop{
    padding: 0 50px;
    /* Affichage en grille pour ranger les articles dans un tableau de 3 colones/largeur */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.8rem 1.5rem;
}

.reduction{
    background-color: var(--primary-color);
    padding: 1rem 0.2rem;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.8rem;
    /* On veut que la banniere reste visible même en scrollant, sans qu'elle impacte le reste du flux */
    position: fixed;
    z-index: 2;
    left: 0;
    top: 50%;
    /* On affiche le texte de façon verticale */
    writing-mode: vertical-rl;
    text-orientation: upright;
    /* On arrondit les bords de droite de notre bloc pour un effet stylé */
    border-top-right-radius:  10px;
    border-bottom-right-radius: 10px;
}

header h1 strong{
    font-weight: 600;
    font-size: 1rem;
}

header h2 strong{
    font-style: italic;
}

.figurines{
    border: solid 1px var(--secondary-color-light);
    padding: 1rem;
}

.figurines__container{
    position: relative;
}

.figurines h3{
    margin: 0.5rem 0;
}

.figurines__addtocart{
    background-color: var(--primary-color);
    padding: 1rem;
    margin-top: 1rem;
    /* Affichage flexible pour mettre les deux groupes de textes de chaques coté */
    display: flex;
    justify-content: space-between;
}

.figurines__reduction{
    background-color: var(--secondary-color-regular);
    border: solid 3px var(--secondary-color-light);
    /* on positionne la pastille reduction en haut à droite de son conteneur */
    position: absolute;
    top: 0;
    right: 0;
    /* On donne une forme ronde à la pastille */
    height: 100px;
    width: 100px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: 600;
}

.figurines__bloc-img p{
    text-transform: uppercase;
    color: var(--secondary-color-light);
    margin-top: 1rem;
    border-bottom: solid 1px var(--secondary-color-light);
}

.addtocart__price{
    font-weight: 700;
}

.addtocart__price--old{
    text-decoration: line-through;
}

/* On va créer un pseudo élement avant le footer pour lui donner une tapisserie de fond  */
footer::before{
    /* obliger de lui donner un contenu pour que le pseudo element s'affiche */
    content: "";
    background-image: url(../images/deco.png);
    display: block;
    height: 12px;
}