/* Définition des variables CSS*/
:root{
    --primary-color: #c80000; 
    --secondary-color-regular: #666;
    --secondary-color-light: #ccc;
    --light-color: #ffe;
}

/* Importation de la police dans le CSS */
*{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
}

header,
.figurines__addtocart,
footer{
    color: var(--light-color);
}

header{
    z-index: 2;
    position: sticky;
    width: 100%;
    top: 0;
    left: 0;
}

header h1{
    background-color: var(--primary-color);
    padding: 1rem;
    font-size: 2rem;
    font-weight: 700;
}

header h2{
    background-color: var(--secondary-color-regular);
    padding: 0.5rem;
    text-align: center;
    font-size: 1.5rem;
}

header h1 strong{
    font-weight: 600;
    font-size: 1rem;
}

header h2 strong{
    font-style: italic;
}